{% extends '::base.html.twig' %}

{% block avanzu_page_subtitle %}ERROR{% endblock %}

{% block body %}
<div class="error-page">
    <h2 class="headline text-red"> ERROR</h2>
    <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> Algo salió mal.</h3>
        <p>
            Vamos a trabajar en solucionarlo de inmediato.
        </p>
    </div>
</div>
{% endblock %}
