{% extends '::base.html.twig' %}

{% block avanzu_page_subtitle %}404{% endblock %}

{% block body %}
<div class="error-page">
    <h2 class="headline text-yellow"> 404</h2>
    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Página no encontrada.</h3>
        <p>
            No pudimos encontrar la página que estabas buscando.
        </p>
    </div>
</div>
{% endblock %}
