{% extends '::base.html.twig' %}

{% block avanzu_page_title %}{{ 'layout.profile'|trans }}{% endblock %}
{% block avanzu_page_subtitle %}CAMBIO DE CONTRASEÑA{% endblock %}

{% block submenu %}
    <div class="row">
        <div class="col-md-12">
            <div class="my-box" style="padding: 10px;">
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-primary btn-flat">
                    <i class="fa fa-arrow-circle-left"></i>
                    VOLVER A {{ 'my_profile.title'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="box box-solid" style="margin-top:30px; border: 1px solid #C9C9C9;">
                    <div class="box-body" style="padding: 20px;">
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="alert alert-info alert-dismissable">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
